/* CSS Document */

/* Colors  */

/* Text Color (Dark Gray): #2b2b2b; */

/* Primary Color (Dark blue): #2b4c9b; */

/* Secondary Color (Turquoise): #31AECB; */

@import 'https://fonts.googleapis.com/css?family=Raleway';

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #2b4c9b;
  --secondary-color: #31aecb;
  --dark-grey: #2b2b2b;
  --body-font-size: 12pt;
  --body-font-family: 'Mukta', sans-serif;
}

body,
td {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: var(--body-font-size);
  text-align: justify;
  line-height: 2;
  margin-bottom: 11rem;
}

th {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.standard-label {
  font-weight: bold;
  font-size: var(--body-font-size);
}

a {
  color: var(--primary-color);
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}

a:active {
  /* selected link */
  color: var(--secondary-color);
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;

  /* takes the font from the outer container */
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 2px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);

  /* button transition */
  transition: 0.4s opacity, 0.5s background-color;
}

.button:hover,
.button:focus {
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--secondary-color);
  color: white;
  font-weight: normal;

  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.profile__portrait {
  float: left;
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.profile,
.about,
.contact {
  max-width: 700px;
  margin: 0 auto;
}

#linkedIn-logo {
  vertical-align: text-bottom;
}

.page-header {
  display: flex;
  align-items: center;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

#navigation-list__item--active {
  text-decoration: none;
  color: var(--secondary-color);
}

.navigation-list {
  list-style-type: none;
  font-weight: bold;
}

.main-navigation {
  font-family: Raleway;
  margin: 0 auto;
}

.main-navigation a {
  color: var(--primary-color);
  text-decoration: none;
  font: 18px Raleway;
  font-weight: bold;
  margin: 0 10px;
  padding: 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

/* Top and Bottom borders come in */
div.topBotomBordersIn a::before,
div.topBotomBordersIn a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--secondary-color);
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

div.topBotomBordersIn a::before {
  top: 0;
  transform: translateY(-10px);
}

div.topBotomBordersIn a::after {
  bottom: 0;
  transform: translateY(10px);
}

div.topBotomBordersIn a:hover::before,
div.topBotomBordersIn a:hover::after {
  opacity: 1;
  transform: translateY(0);
}

/* start grid fallback */
.project-list__item {
  display: inline-block;
  width: 33%;
  padding: 1rem;
}

/* end grid fallback */

@supports (display: grid) {
  .project-list {
    display: grid;

    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .project-list__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 1rem;
  }

  .project-list__item:last-child {
    grid-column: 3 / 3;
    grid-row: 2 / 3;
  }
}

.mywork-section {
  margin-left: 15px;
  margin-right: 15px;
}

@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 10px;
  }

  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes sun-color-change {
  0% {
    fill: #f5b419;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s sun-color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-left {
  animation: 35s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(30px, 20px);
  }

  to {
    transform: translate(0, 20px);
  }
}

.cloud-right {
  animation: 10s cloud-move-reverse infinite alternate linear;
}

@keyframes blinking-tongue {
  0% {
    fill: transparent;
  }

  100% {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #ffc7fb;
    stroke: #000;
    stroke-width: 3.6e-02;
    stroke-miterlimit: 10;
  }
}

.tongue {
  animation: blinking-tongue 1.5s infinite;
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 35px;
  width: 0;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  color: rgba(0, 0, 0, 0.4);
}
